<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/fragments/public-header :: head('Programs')"></head>
<body class="layout-top-nav layout-fixed layout-navbar-fixed" style="height:auto;">
<div class="wrapper">
    <div th:replace="public/fragments/public-nav :: topbar"></div>
    <div th:replace="public/fragments/public-nav :: navbar('programs')"></div>

    <div class="content-wrapper pt-5">
        <section class="content py-3">
            <div class="container-fluid">
                <h3 class="text-center"><b>Our Programs</b></h3>
                <hr class="bg-navy">

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card card-outline card-info rounded-0 shadow">
                            <div class="card-body">
                                <p class="text-muted text-center">
                                    <i class="fas fa-info-circle mr-2"></i>
                                    Program details and offerings will be listed here.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:replace="public/fragments/public-nav :: footer"></div>
</div>
</body>
</html>
